* {
  padding: 0;
  margin: 0;
  font-family: Inter;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
}

ul.navbar li a {
  display: block;
  color: white;
  text-align: right;
  padding: 15px 20px;
  font-size: 2vw;
  text-decoration: none;
  /* border-left: 1px solid #bbb; */
}
ul.navbar li a:hover {
  background-color: #0271ff;
}
.navbar-brand {
  padding: 10px;
  height: 50px;
}
.logo1 {
  width: 15vw;
  height: 3.5vw;
  margin: auto;
}
@media (max-width: 500px) {
  .logo1 {
    width: 35vw;
    height: 7vw;
  }
}
.img1 {
  height: 18vw;
  margin-top: 0;
  margin-right: 0;
  z-index: 1;
  float: right;
}
div.title {
  color: #0271ff;
  font-size: 6vw;
  font-weight: 900;
  /* text-align: left; */
  display: block;
  padding-left: 1vw;
  /* block-size: 200px; */
}

div.masterclass {
  color: white;
  font-size: 5vw;
  /* text-align: left; */
  display: block;
  padding-left: 2vw;
}
div.orange {
  float: right;
  padding: 0;
  margin: 0;
  background-color: #f0be75;
  width: 80%;
  text-align: center;
  border-top-left-radius: 2vw;
  border-bottom-left-radius: 2vw;
  /* z-index: -1; */
}
@media (max-width: 750px) {
  div.orange {
    width: 85%;
  }
}
@media (max-width: 600px) {
  div.orange {
    width: 90%;
  }
  div.title {
    font-size: 7vw;
  }
  .img1 {
    height: 22vw;
  }
}
.bolder {
  font-family: Inter;
  font-weight: 950;
  text-align: center;
  font-size: x-large;
}
.non-bold {
  font-family: Inter;
  text-align: center;
  font-size: x-large;
}
div.subhead {
  margin-top: 15vw;
}
@media (max-width: 600px) {
  div.subhead {
    margin-top: 7vw;
  }
}
div.x-registered {
  color: white;
  background-color: #0271ff;
  width: 350px;
  height: 50px;
  line-height: 50px; /* Vertically center the text */
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  /* padding: auto; */
  margin-left: auto;
  margin-right: auto; /* Margin to separate from the yellow blocks */
  border-radius: 20px;
  align-self: center; /* Center the registration button horizontally */
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.learning-section {
  padding: 20px;
  overflow: auto;
  margin-bottom: 20px;
  justify-content: space-between;
  /* Space between sections */
}

.points {
  list-style: square;
  padding: 0;
}

.points li {
  margin-bottom: 10px;
}

.points li::marker {
  color: #f0be75;
}

/* Additional styles for layout and presentation */
.section-title {
  text-align: center;
  font-size: xxx-large;
  font-weight: bolder;
}
.vidpg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.questionsimg {
  padding-left: 40px;
  padding-top: 20px;
}
section.complete0 {
  display: flex;
  background-color: #f0be75; /* Light brown background */
  padding: 20px;
  height: fit-content;
}

.vidpg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

iframe.vid1 {
  border-radius: 10px;
  width: 50%;
  height: 25vw;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}

ul.icons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  width: 100%;
}
.yellow-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 180px;
  width: 200px;
  background-color: #f8df3d;
  border-radius: 10px;
  text-align: center;
}

.yellow-block img{
  width: 70px;
}


@media (max-width : 1415px){
  .yellow-block{
    width: 170px;
    height: 150px;
  }
}

@media (max-width : 1240px){
  .yellow-block{
    width: 150px;
    height: 130px;
  }
  .yellow-block img{
    width: 60px;
  }
}


@media (max-width: 1115px) {
  section.complete0 {
    flex-direction: column;
    align-items: center;
  }

  .vidpg {
    flex-direction: column;
    align-items: center;
  }

  iframe.vid1 {
    height: 50vw;
    width: 90%;
    margin-bottom: 20px;
  }

  .info-container {
    width: 100%;
    padding: 0 20px;
  }

  ul.icons {
    flex-direction: row;
    justify-content: space-around;
    padding-right: 0;
    width: 100%;
  }

  .yellow-block {
    width: 220px;
    height: 200px;
    font-size: 25px;
  }

  .yellow-block img {
    width: 80px;
  }

  .reg-now {
    width: auto;
  }
}

@media (max-width: 750px){
  .yellow-block{
    width: 190px;
    height: 150px;
  }
  .yellow-block img{
    width: 65px;
  }
}


@media (max-width: 640px){
  .yellow-block{
    width: 160px;
    height: 140px;
    font-size: 20px;
  }
  .yellow-block img{
    width: 60px;
  }
}

@media (max-width: 560px) {
  ul.icons {
    align-items: center;
  }
  .yellow-block {
    width: 140px;
    height: 120px;
    margin: 5px 0;
  }

  .yellow-block img{
    width: 50px;
  }
  .yellow-block p {
    font-size: 18px;
  }
}


@media (max-width: 470px){
  .yellow-block{
    width: 110px;
    height: 90px;
  }

  .yellow-block p{
    font-size: 15px;
  }

  .yellow-block img{
    width: 50px;
  }
}
@media (max-width: 390px){
  .non-bold{
    width: 95%;
    margin: 0 auto;
  }


  .yellow-block{
    width: 100px;
    height: 80px;
  }

  .yellow-block p{
    font-size: 12px;
  }

  .yellow-block img{
    width: 40px;
  }
}

.reg-now {
  color: white;
  background-color: #0271ff;
  width: 250px;
  height: 50px;
  line-height: 50px; /* Vertically center the text */
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  margin-top: 20px; /* Margin to separate from the yellow blocks */
  border-radius: 20px;
  align-self: center; /* Center the registration button horizontally */
}

div.reg-now {
  color: white;
  background-color: #0271ff;
  width: 250px;
  height: 50px;
  line-height: 50px; /* Vertically center the text */
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  padding: auto;
  margin-top: 20px; /* Margin to separate from the yellow blocks */
  border-radius: 20px;
  align-self: center; /* Center the registration button horizontally */
}

.learning-section {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  border-radius: 10px;
  padding-right: 150px;
  font-family: Arial, sans-serif;
}

.section-title {
  font-size: xxx-large;
  text-align: center;
  margin-bottom: 30px;
  color: #212121;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.webinar-image {
  height: 500px;
  width: 400px;
  padding-left: 80px;
  border-radius: 10px;
}

.learn {
  background-color: #74b1ff;
  padding: 30px;
  width: 50%;
  border-radius: 40px;
  color: #fff;
  font-weight: bolder;
}

.learn .points {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.learn .points li {
  margin-bottom: 15px;
  font-size: 1.2em;
  position: relative;
  padding-left: 30px;
  list-style-type: "✔";
}

/* .learn .points li:before {
  list-style-type: "✔";
  position: absolute;
  font-size: x-large;
  left: 0;
  top: 0;
  color: #f8df3d;
  font-size: 1.5em;
} */
ul.chart0 {
  list-style-type: none;
  display: flex;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
}

ul.chart0 li {
  flex: 1;
  margin: 10px;
}

.charts {
  background-color: #f8df3d;
  padding-top: 15px;
  padding-bottom: 20px;
  background-position: center;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.target_customer {
  padding-top: 5px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
@media (max-width: 600px) {
  .target_customer {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .target_customer {
    font-size: 15px;
  }
}
/* Media Queries for Responsive Design */

ul.blist1,
ul.blist2 {
  list-style-type: none;
  display: flex;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  padding-left: 100px;
  padding-right: 100px;
  flex-wrap: wrap;
}

ul.blist1 li,
ul.blist2 li {
  margin: 10px;
}

div.brands {
  background-color: #e7e6e6;
  text-align: center;
  padding: 20px;
}
@media (max-width: 600px) {
  div.brands {
    padding: 5px;
  }
}
.value_brands {
  font-size: xxx-large;
  font-weight: bolder;
  text-align: center;
}

div.brands div {
  font-size: 2.5em; /* Adjusted for better responsiveness */
  font-weight: bolder;
  text-align: center;
  margin: 20px 0;
}

/* Media Queries for Responsive Design */

.container {
  display: flex;
  align-items: flex-start;
}

.speaker {
  padding-left: 50px;
}

.speaker img {
  height: 30vw;
  float: left;
  padding-left: 50px;
}

.sname {
  font-size: x-large;
  padding-left: 500px;
  font-weight: bold;
}

.sposition {
  font-size: x-large;
  padding-left: 500px;
  font-weight: bold;
}

.bio-text {
  font-size: 20px;
  padding-left: 500px;
  padding-right: 100px;
  font-weight: bold;
}
@media (max-width: 1060px) {
  .speaker {
    padding-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .speaker img {
    padding-left: 0;
    margin-bottom: 20px;
    height: 40vw;
  }

  .sname,
  .sposition,
  .bio-text {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}

.collapsible-section {
  flex: 2;
  background-color: white;
  padding: 20px;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 30px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  /* position: relative; */
}

.content {
  padding: 22px;
  display: none;
  /* overflow: hidden; */
  background-color: white;
  width: 100%;
  border-top: 2px solid #ccc;
  font-size: 18px;
}
.faqblock {
  font-family: Inter;
  font-size: 7vw;
  font-weight: bolder;
  text-align: center;
  display: block;
  width: 40%;
  border-radius: 40px;
  background-color: #f0be75;
  margin-left: auto;
  margin-right: auto;
}
.arrow {
  position: absolute;
  right: 20px;
  font-size: 18px;
  transition: transform 0.3s;
}

.arrow.down::before {
  content: "▼";
  color: black;
}

.arrow.up::before {
  content: "▲";
  color: black;
}
hr.hr1 {
  border: 3px solid #fffa0f;
  margin: 0;
  width: 100%;
}
hr.hr2 {
  border: 3px solid #197fdd;
  margin: 0;
  width: 100%;
}
hr.hr3 {
  border: 3px solid #000000;
  margin: 0;
  width: 100%;
}
hr.hr4 {
  border: 3px solid #e48803;
  margin: 0;
  width: 100%;
}
/* General Award Box Styles */
.award-box {
  flex: 1;
  padding: 20px;
  text-align: center;
  font-size: large;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
/* Specific Award Box Styles */
.cmaward0 {
  background-color: #74b1ff;
  color: white;
}

.awds {
  background-color: #f8df3d;
  color: #000000;
}

.newsawd0 {
  background-color: #bebebe; /* Add appropriate background color if needed */
  color: black; /* Change text color if needed */
}

.teampics {
  background-color: #f0be75;
  color: rgb(255, 255, 255);
}

/* Image Styles */
.cmawdimg,
.award1img,
.teamimg,
.award-img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/* Heading Styles */
.cm,
.awd,
.achiev0,
.meetteam0 {
  font-size: xx-large;
  font-weight: bolder;
}
.cmawdimg {
  height: 25vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-radius: 40px;
}
.subcm,
.subawd,
.achiev,
.meetteam {
  font-size: x-large;
  font-weight: bolder;
}
@media (max-width: 600px) {
  .cm,
  .awd,
  .achiev0,
  .meetteam0 {
    font-size: medium;
  }
  .subcm,
  .subawd,
  .achiev,
  .meetteam {
    font-size: small;
  }
}
/* Container Styles */
.awards-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
}
@media (max-width: 1090px) {
  .awards-container,
  .awards-container2 {
    flex-direction: column;
    align-items: center;
  }

  .cmaward0,
  .awds,
  .newsawd0,
  .teampics {
    width: 80%;
  }
  .cmawdimg {
    height: 30vw;
  }
  .award-img,
  .awardimg1,
  .teamimg {
    height: 40vw;
  }
}

.ytlogoimg {
  height: 5vw;
}

.award1img {
  height: 25vw;
}

.youtube-iframe {
  width: 80%; /* Full width on smaller screens */
  aspect-ratio: 16/9; /* Set aspect ratio for the video */
  margin-top: 20px; /* Space between text and video on smaller screens */
  border-radius: 20px;
  border-top-right-radius: 0; /* Adjust border radius */
  border-top-left-radius: 20px; /* Adjust border radius */
}

.channel-info {
  display: flex;
  background-color: #f8df3d;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  /* flex-wrap: wrap; Allow items to wrap to the next line */
}

.channeltext {
  text-align: center;
  font-size: xx-large;
  font-family: Inter;
  font-weight: bold;
  padding: 0 20px; /* Adjust padding for smaller screens */
  flex: 1; /* Take up remaining space */
  max-width: 600px; /* Limit width to prevent overflow */
}
.promovid {
  height: 300px;
  padding-right: 5vw;
  /* border-radius: 20px;
  border-top-right-radius: 20px; */
  flex: 1;
  max-width: 100%; /* Ensure video is responsive */
}
@media (max-width: 1011px) {
  .channel-info {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    width: 100%;
    height: 70vw;
  }

  .promovid {
    /* padding-top: 1vw; */
    /* width: 400px; */
    height: 40vw;
    width: 60vw;
    align-items: center;
    padding-bottom: 3px;
    margin: auto; /* Center horizontally */
    border-radius: 1vw;
  }
}

div.reg-now1 {
  color: white;
  background-color: #0271ff;
  width: 350px;
  height: 50px;
  line-height: 50px; /* Vertically center the text */
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  padding: auto;
  margin-left: auto;
  margin-right: auto; /* Margin to separate from the yellow blocks */
  border-radius: 20px;
  align-self: center; /* Center the registration button horizontally */
}
/* Footer Styles */
.footer {
  background-color: #74b1ff;
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  flex-wrap: wrap;
}

.footer-section {
  padding-right: 20px;
  font-size: larger;
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  height: 50px;
}
@media (max-width: 600px) {
  .footer-logo {
    height: 30px;
  }
}
@media (max-width: 1215px) {
  .footer-logo {
    height: 40px;
  }
}

.footer-section p {
  margin: 20px 0;
  color: black;
  font-weight: bold;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icon {
  height: 40px;
}

.footer-links {
  display: flex;
  flex: 2;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: large;
  padding-top: 20px;
  padding-left: 10px;
  flex-wrap: wrap;
}

.footer-link-section {
  flex: 1;
  margin-right: 0px;
}

.footer-link-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
}

.footer-link-section ul {
  list-style: none;
  padding: 0;
}

.footer-link-section li {
  margin-bottom: 10px;
  font-size: larger;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #fff;
  color: black;
  font-size: larger;
  font-weight: bolder;
}

/* Media Queries for Responsive Design */
@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    padding-right: 0;
    text-align: center;
  }

  .footer-logo {
    margin: 0 auto;
  }

  .footer-links {
    align-items: center;
    padding: 0;
  }

  .footer-link-section {
    margin-bottom: 20px;
  }

  .footer-link-section ul {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .footer-container {
    padding: 0 20px;
  }

  .footer-section {
    font-size: medium;
  }

  .footer-link-section h3 {
    font-size: 18px;
  }

  .footer-link-section li {
    font-size: medium;
  }

  .footer-section p {
    font-size: medium;
  }
}
@media (max-width: 950px) {
  .charts div {
    font-size: 40px;
  }

  ul.chart0 {
    flex-direction: column;
  }

  ul.chart0 li {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  .charts div {
    font-size: 30px;
  }

  ul.chart0 {
    flex-direction: column;
    /* padding: 0; */
  }

  ul.chart0 li {
    margin: 10px 0;
  }

  ul.chart0 img {
    height: auto;
    width: 60%;
  }
}
@media (max-width: 500px) {
  ul.chart0 img {
    height: auto;
    width: 70%;
  }
}
@media (max-width: 992px) {
  ul.blist1,
  ul.blist2 {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  ul.blist1 li,
  ul.blist2 li {
    margin: 20px 0;
  }

  div.brands div {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  ul.blist1,
  ul.blist2 {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }

  ul.blist1 li,
  ul.blist2 li {
    margin: 15px 0;
  }

  div.brands div {
    font-size: 1.5em;
  }

  ul.blist1 img,
  ul.blist2 img {
    /* width: 100%;
    height: auto; */
    max-height: 150px; /* Adjust as needed to fit the design */
  }
}
@media (max-width: 1161px) {
  .learning-section {
    padding: 20px;
    padding-right: 20px;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .webinar-image {
    width: 60%;
    height: auto;
    padding-left: 0;
    /* margin-bottom: 20px; */
  }

  .learn {
    width: 80%;
  }

  .learn .points li {
    margin-bottom: 15px;
    font-size: medium;
    position: relative;
    padding-left: 30px;
    list-style-type: "✔";
  }
}
@media (max-width: 750px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 600px) {
  .bolder {
    font-size: small;
  }
  .non-bold {
    font-size: small;
  }
  div.x-registered {
    font-size: small;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }
  .section-title {
    font-size: large;
  }
  .points li {
    font-size: small;
  }
  .sname {
    font-size: large;
  }
  .sposition {
    font-size: large;
  }
  .bio-text {
    font-size: medium;
    text-align: left;
  }
  .channeltext {
    font-size: medium;
    padding-bottom: 0;
  }
}
